// Base styling for the navbar
#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
        font-family: $font-family-monteserrat;
        color: $purple;
        font-size: 1.5rem;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $gray-600;
                font-family: $font-family-monteserrat;
                font-size: 1.5rem;
                padding: 0.75rem 0;
                &:hover,
                &:active {
                    color: $primary;
                }
                &.active {
                    color: $primary !important;
                }
            }
        }
    }

    &.bg-light-purple {
        background-color: fade_out($purple, .15);
    }

    &.bg-transparent {
        background-color: transparent;
    }

    @include media-breakpoint-up(lg) {
        box-shadow: none;
        background-color: transparent;
        .navbar-brand {
            color: fade-out($white, .3);
            &:hover {
                color: $white;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: fade-out($white, .3);
                    padding: 0 1rem;
                    &:hover {
                        color: $white;
                    }
                }
                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }
        &.navbar-scrolled {
            box-shadow: $box-shadow;
            background-color: $white;

            .navbar-brand {
                color: fade_out($purple, .15);
                &:hover {
                    color: fade_out($purple, .25);
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $white;
                        &:hover {
                            color: fade_out($purple, .25);
                        }
                    }
                }
            }

            #navbarResponsive {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $purple;
                            &:hover {
                                color: fade_out($purple, .25);
                            }
                        }
                    }
                }
            }
        }
    }
}
