// Body

$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif !default;
$font-family-monteserrat: "Montserrat", Helvetica, Arial, serif;

$font-family-nato-sans: 'Noto Sans', sans-serif !default;

// Colors
$primary: #64a19d !default;
$blue: #3490dc !default;
$indigo: #6574cd !default;
$purple: #9561e2 !default;
$light-purple: #cf7fe2 !default;
$pink: #f66d9b !default;
$red: #e3342f !default;
$orange: #f6993f !default;
$yellow: #ffed4a !default;
$green: #38c172 !default;
$teal: #4dc0b5 !default;
$cyan: #6cb2eb !default;
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;
$orange: #f4623a !default;
$brown: #5c4d42 !default;
$dark-blue: #434a6c;
$medium-blue: #6a749a;
$light-blue: #818dad;

$navbar-height: 72px;

//modal
$modal-80vw: 80vw;
$modal-90vw: 90vw;
$modal-95vw: 95vw;
$modal-full: 100vw;

%height-100vh {
    height: 100vh;
}

%bg-purple {
    background-color: $light-purple !important;
}

%masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    background: linear-gradient(to bottom, #{fade-out($purple, .3)} 0%,#{fade-out($purple, .2)} 100%), url('../../public/storage/img/massage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

%default-img-height {
    height: 18em;
}


