
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//imports
@import 'variables';
@import 'button';
@import 'navbar';
@import "mixins";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'custom';
@import "~include-media/dist/include-media";

body,
html {
    width: 100%;
    height: 100%;
    font-family: $font-family-monteserrat;
}

// Typography
.text-white-25 {
    color: fade-out($white, .25);
    font-size: 100px;
}


.text {
    &-purple {
        color: $purple !important
    }

    &-light-purple {
        color: fade_out($purple, 0.25)
    }

    &-red {
        color: $red
    }

    &-cyan {
        color: $cyan
    }
    &-blue {
        color: $blue;
    }


    &-12 {
        font-size: 12px;
    }

    &-14 {
        font-size: 14px;
    }

    &-16 {
        font-size: 16px;
    }

    &-18 {
        font-size: 18px;
    }

    &-20 {
        font-size: 20px;
    }
}


// Custom horizontal rules
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

input {
    &.inp-height-20 {
        height: 50px !important;
    }

    &.form-control {

        &:focus {
            border-color: $purple;
            box-shadow: 0 0 0 0.2rem rgba(148, 96, 226, 0.44);
        }

        &:hover {
            border-color: $purple;
        }
    }
}

button {
    &.bg-purple {
        background-color: $purple;
        color: $white;

        &:hover {
            background-color: fade_out($purple, .25);
            color: fade_out($white, .15);
        }
    }
}

// Page section padding
.page-section {
    padding: 8rem 0;
    flex: 1 0 auto;
}


// Custom horizontal rules
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

// Button
.btn {
    font-family: $font-family-nato-sans;

    &-xl {
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }

    &-md {
        padding: 1.15rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }


    &-sm {
        padding: 1.05rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }

    &-border-white {
        color: $white;
        border: 2px solid $white;

        &:hover {
            color: $purple;
            background-color: fade-out($white, .25);
            border: 1px solid $white;
        }
    }

    &-border-gray {
        border: 2px solid $gray-500;
        color: $gray-700;

        &:hover {
            color: $gray-200;
            background-color: fade-out($gray-700, .25);
            border: 1px solid $gray-200;
        }
    }

    &-purple {
        color: $white;
        background-color: $purple;
        border-color: $purple;

        &:hover {
            color: $white;
            background-color: fade-out($purple, .15);
        }
    }

    .btn-xl {
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }

}

// Page section padding
.page-section {
    padding: 8rem 0;

    &.bg-purple {
        background-color: $purple;
    }

    &.bg-light-purple {
        background-color: fade_out($purple, .15);
    }

    &.bg-gray {
        background-color: $gray-200;
    }

    &.bg-transparent {
        background-color: transparent;
    }
}

.page-section-4 {
    padding: 4rem 0;
}


// masthead
header#masthead {
    @extend %masthead;
    @extend %height-100vh;
    min-height: 40rem;
    h1 {
        font-family: $font-family-nato-sans;
        font-size: 2.25rem;
    }
    .input-lg {
        height: 80px;
        min-width: 500px;
    }

    .input-md {
        height: 80px;
        min-width: 450px;
    }



    p {
        font-family: $font-family-nato-sans;
        color: $white;
    }
    @include media-breakpoint-up(lg) {
        @extend %height-100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;
        color: $white;
        p {
            font-size: 1.8rem;
        }
        h1 {
            font-size: 3rem;
        }
    }
    @include media-breakpoint-up(xl) {
        color: $white;
        h1 {
            font-size: 3.5rem;
        }
    }
}

.img-holder {
    overflow: hidden;
    position: relative;
    @extend %default-img-height;
    background-color: fade_out($gray-300, .15);
    img {
        width: 100%;
        position: absolute;
        left: 50%;
        height: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


#back-to-top {
    display: inline-block;
    background-color: $purple;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &::after {
        content: "\f106";
        font-family: "Font Awesome 5 Free";
        font-weight: 999;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    &:hover {
        cursor: pointer;
        background-color: fade-out($purple, .20);
    }

    &:active {
        background-color: fade-out($purple, .15);
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

//star rating


.starrating {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    align-items: flex-end;
    top: 0;


}
.fa-star{
    color: $purple
}

footer {
    display: block;
    color: $white;
    background-color: fade_out($purple, .15);
    font-size: 20px;
    small {
        font-weight: bold;
    }

    bottom: 0;
}
