@import '~intl-tel-input/src/css/intlTelInput';
@import "~animate.css/animate.css";
@import "variables";
//visited store
#visited-store-header {
    font-family: $font-family-monteserrat;
    h4, h5, h6 {
        color: $gray-700;
    }
    p {
        font-style: italic;
    }
}

#view-specific-store {
    font-family: $font-family-monteserrat;
    > .store-container {
        //margin-left: 50px;
        a {
            color: #000
        }
    }
}

.iti__selected-dial-code {
    color: #000
}

.visited-card {

    @include media-breakpoint-up(xl) {
        overflow: hidden;
        margin: 10px auto;

        p {
            display: -webkit-box;
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }

    @include media-breakpoint-up(md) {
        overflow: hidden;
        width: calc(100% - 50px);
        margin: 10px auto;

        p {
            display: -webkit-box;
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }

    @include media-breakpoint-up(lg) {
        p {
            word-wrap: normal;
        }
    }

    .card-body {
        p {

            font-size: 13px;
            font-style: italic;
        }
        h5 {
            font-style: italic;
        }
    }
}

#new-promotion {

    //@extend %height-100vh;

    p {
        font-style: italic;
    }

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        background-color: #fff;
        overflow: hidden;
        border-radius: 8px;

    }

    .picture {
        width: 420px;
        height: 520px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: 420px) {
            width: 100%;
        }
    }

    .detail {
        padding: 25px 20px;
        font-weight: 600;
        text-align: center;

        h3 {
            margin: 0;
            font-size: 20px;
        }

        span {
            display: block;
            font-size: 16px;
            color: #f44336;
        }
    }

}

#history-header {
    h1 {
        color: $gray-700;
    }
    p {
        font-style: italic;
    }
}

#history {
    //@extend %height-100vh;

    nav {
        .nav {
            text-align: center;
            #nav-store-tab, #nav-promotions-tab {
                font-size: 2.5em;
            }
        }
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $purple;
        background-color: transparent;
        border-color: transparent transparent $purple;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: bold;
    }


    .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: $purple;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            border: none;
            color: fade-out($purple, .20)
        }
    }

    #nav-tab {
        margin-bottom: 20px;
        //width: 50%;
    }

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        background-color: #fff;
        overflow: hidden;
        border-radius: 8px;

    }

    .picture {
        width: 420px;
        height: 420px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        @media (min-width: 420px) {
            width: 100%;
        }
    }

    .detail {
        padding: 25px 20px;
        font-weight: 600;
        text-align: center;

        h3 {
            margin: 0;
            font-size: 20px;
        }

        span {
            display: block;
            font-size: 16px;
            color: #f44336;
        }
    }
}

#user-profile-header {
    h1 {
        color: $gray-700;
    }
    p {
        font-style: italic;
    }
}

#user-profile {
    //@extend %height-100vh;
    background-color: $gray-200;

    height: 70vh;
    .table {
        tbody {
             tr {
                font-size: 20px;
                > td {
                    font-style: italic;
                    font-size: 25px;
                }
            }
        }
    }

    #edit-profile {
        font-size: 30px;
        font-weight: normal;
        margin: 0 auto;
    }
}

.store-container {

    @media (min-width: 490px) and (max-width: 759px){
        #store-lists-row {
            margin-left: 75px !important;

            .store-lists {

                #store-form {
                    float: none !important;
                    #find-store {
                        width: 30vh;
                    }
                }

                #store-title {
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: 420px) and (max-width: 489px) {
        #store-lists-row {
            margin-left: 30px !important;

            .store-lists {

                #store-form {
                    float: none !important;

                    #find-store {
                        width: 30vh;
                    }
                }

                #store-title {
                    float: none;

                    h1 {
                        text-align: center;
                    }
                }
                float: none;
                clear: both;
                display: block;
            }


        }


    }

}

#find-store {
    height: 5vh;
    width: 25vw;
}

#promotion-masthead {
    @extend %masthead;
    height: 40vh;

    h1 {
        font-size: 4em;
    }
}

.promo-list {
    background-position: center;
    background-size: cover;
    .promo-list-img {
        width: 420px;
        height: 320px;

    }

    #promo-list {
        a {
            img {
                margin-bottom: 50px;
            }
        }
    }
}

#store-masthead {
    @extend %masthead;
    height: 20vh;
    h1 {
        font-size: 4em;
    }
}

.store-list {
    #store-list {
        div.card {
            margin-bottom: 50px;
        }
    }
}

#profile-masthead {
    @extend %masthead;
    height: 40vh;

    h1 {
        font-size: 4em;
    }
}

/** OTP **/
#resend-otp {
    &.disabled {
        color: fade_out($blue, .5);
        pointer-events: none;
        cursor: default;
    }
}

#otp-submit {
  &:disabled {
      pointer-events: none;
      cursor: default;
  }
}


/** modal **/
.modal {

    .modal-dialog {
        @media (min-width: 760px) {
            &.modal-80 {
                max-width: $modal-80vw;
            }

            &.modal-90 {
                max-width: $modal-90vw;
            }

            &.modal-95 {
                max-width: $modal-95vw;
            }

            &.modal-w-full {
                max-width: $modal-full;
            }


        }

        #visited-modal-header {
            background-color:  $purple;
            color: $white;
        }
    }

    &.modal-pr-0 {
        padding-right: 0 !important;
    }

    .modal-open {
        padding-right: 0 !important;
    }

}


.store-pills {

    .nav-item {
        background-color: fade_out($purple, .25);
        .nav-link {
            color: $white;
        }

        &:hover {
            background-color: fade_out($purple, .15);
        }

        .active  {
            background-color: $purple;
        }
    }

}


a.back-btn  {
    color: $purple;
    i {
        color: $purple;
    }
}


select {
    width: 100%;
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 1px solid  #9561e2 !important;
    }

    &.inp-height-20 {
        height: 50px !important;
    }

    &.select2 {
        &:focus {
            border-color:  #9561e2;
            box-shadow: 0 0 0 0.2rem rgba(148, 96, 226, 0.44);
        }

        &:hover {
            border-color:  #9561e2;
        }
    }

}
