// Bootstrap
@import '~bootstrap/scss/bootstrap';
//imports
@import '../variables';
@import "../animation";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


/* BASIC */

html {
    background: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}



a {
    color: $purple;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: $purple
    }
}

h2 {

    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */

.container {
    max-width:600px;
    z-index: 1;
}

.container-fluid {
    position: relative;
    height: 100vh;
}

.merchant-footer {
    border: none;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    .bg-image {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
        z-index: 0;
    }
}

.banner-image {
    position: relative;
    min-height: 190px;
    max-height: 40vh;
    overflow: hidden;
}

.conver-image {
    position: relative;
    z-index: 0;
    width: 100%;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 50px;
    width: 50%;
    max-width: 750px;
    position: relative;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    //text-align: center;
}

#review-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 750px;
    position: relative;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
}


.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width:60%;
}

// Button
.btn {
    font-family: $font-family-nato-sans;

    &-xl {
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }

    &-md {
        padding: 1.15rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }


    &-sm {
        padding: 1.05rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
    }

    &-border-white {
        color: $white;
        border: 2px solid $white;

        &:hover {
            color: $purple;
            background-color: fade-out($white, .25);
            border: 1px solid $white;
        }
    }

    &-border-gray {
        border: 2px solid $gray-500;
        color: $gray-700;

        &:hover {
            color: $gray-200;
            background-color: fade-out($gray-700, .25);
            border: 1px solid $gray-200;
        }
    }

    &-purple {
        color: $white;
        background-color: $purple;
        border-color: $purple;

        &:hover {
            color: $white;
            background-color: fade-out($purple, .15);
        }
    }
}

#btn-reviews {
    width: 50%;
    &:disabled {
        cursor: not-allowed;
    }
}

.fa-star {
    color: $purple;
}

#comments {
    resize: none;
}

#social-review {
    .google-review {
        img {
            height: 100px;
            width: 250px;
        }
    }

    .yelp-review {
        img {
            height: 150px;
            width: 250px;
        }
    }


}

.business {
    &-name,
    &-phone,
    &-address,
    &-email {
        margin: 0;
        display: block;
        word-wrap: break-word;
        color: $black;
    }
}

.store-pills {

    .nav-item {
        background-color: fade_out($purple, .25);
        .nav-link {
            color: $white;
        }

        &:hover {
            background-color: fade_out($purple, .15);
        }

        .active  {
            background-color: $purple;
        }
    }
}


.text {
    &-purple {
        color: $purple !important;
    }

    &-light-purple {
        color: fade_out($purple, 0.25)
    }

    &-red {
        color: $red
    }

    &-cyan {
        color: $cyan
    }
    &-blue {
        color: $blue;
    }


    &-12 {
        font-size: 12px;
    }

    &-14 {
        font-size: 14px;
    }

    &-16 {
        font-size: 16px;
    }

    &-18 {
        font-size: 18px;
    }

    &-20 {
        font-size: 20px;
    }
}

.platform-review {
    h5 {
        text-align: center !important;
    }

    margin: 0 auto;
}

.opacity-5 {
    opacity: 0.5;
}

.review-business-logo {
    margin-top: 250px;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #f1f1f1;
}

@media (max-width: 576px) {
    .business-name {

        font-size: 30px;
        text-align: center;
    }

    i {
        text-align: center;
        > a {

            .business-phone {
                font-size: 14px;
                color: #000;
            }

            .business-address {
                font-size: 14px;
                color: #000;
            }

            .business-email {
                font-size: 14px;
                color: #000;
            }
        }
    }
}

@media (min-height: 0) {
    .merchant-footer {
        position:relative;
    }
}
@media (min-height: 667px) {
    .merchant-footer {
        position:absolute;
    }
}

.link-icon-circle {
    width: 40px;
    height: 40px;
    padding-top: 3px;
    display: inline-block;
    border: 2px solid $blue;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}
