body {
    font-family: comfortaa;
  }
  
  a{
    color: #000;
  }
  a:hover, a.active {
    color: #6f23cc;
    font-weight: 900;
    text-decoration: underline;
  }
  a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a.btn {
    /* border: 3px solid #DCB8BA; */
    border-radius: 30px;
  }

  .pageSection{
    margin: 70px 0px 60px 70px;
  }
  /* */
  .categories{
    margin-bottom: 50px;
  }
  .categories ul{
    list-style: none;
  }
  .categories li{
    margin: 10px 0px;
  }
  /* .carousel-item {
    height: 450px;
  } */
  
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .border-radius-right {
    border-radius: 0px 40px;
    overflow: hidden;
  }
  
  .ads img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
  
  .img-cont {
    width: 100%;
    height: 100%;
  }
  
  .img-cont p {
    margin-top: 5px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .img-cont img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border: 3px solid rgb(186, 162, 224);
    border-radius: 40px 0px;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .products-btn {
    width: 100%;
  }
  
  .products-btn a {
    border-radius: 30px;
    border: 1px solid #8456bc;
    /*height: 37px;*/
    font-size: 13px;
    width: 100%;
    font-weight: 800;
    padding: 10px;
  }
  .products-btn a:hover{
    background-color: #6f23cc;
    color: #fff;
    border: 1px solid #6D6D6D;
  }
  
  .products a.view-btn {
    margin-right: 1px;
  }
  
  .btn.btn-sm.order-btn {
    margin-left: 7px;
  }
  
  .product-collection {
    padding-bottom: 30px;
  }
  .side-content .categories ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 12px;
  }
  ul.submenu {
    margin: 10px 0px;
    padding-left: 20px;
  }
  ul.submenu li{
    color: #707070;
  }
  .side-content .bestseller ul{
    list-style: none;
    margin-top: 12px;
    padding-left: 0px;
  }
  .best-seller img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 5px;
  }
  
  .best-seller {
    padding: 12px;
    border-bottom: 1px dashed #dadada;
    font-size: 0.75rem;
  }
  
  .best-seller p {
    margin-bottom: 0px;
  }
  .ads-section-2{
     background-image: url('../img/bg1.jpg');
     min-height: 300px;
     background-position: left;
     background-size: cover;
     position: relative;
  }
  .ads-section-2 .order-ad {
    position: absolute;
    color: #000;
    background-color: #fff;
    border: 7px solid #DCB8BA;
    right: 7%;
    top: 17%;
    width: 50%;
    height: 65%;
    padding: 20px;
  }
  .order-form {
    width: 80%;
    margin: auto;
  }
  #no-products{
    width: 100%;
  }
  input.error,input.error:focus {
    border: 1px solid #dc3545;
  }
  
  /* footer{ */
    /* min-height: 430px; */
  /* } */
  .footer{
    margin:20px;
    margin-top: 400px;
    padding: 20px;
  }
  .footer-container{
    padding: 4%;
  }
  .footer-container span.title{
    font-size: 20px;
    font-weight: 800;
    width: 100%;
  }
  .footer-container p{
    margin-top: 10px;
    width: 100%;
    /* height: 100px; */
  }
  .contact{
    margin-top: 30px;
  }
  .contact .contact-details {
    white-space: pre;
    font-size: 18px;
    line-height: 35px;
  }
  .contact .contact-details I {
    font-size: 25px;
  }
  .social{
    margin-top: 15px;
  }
  .social i{
    width: 50px;
    height: 50px;
    border: 2px solid #CBEDED;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    color: #212529;
    text-align: center;
    margin: 0px 10px;
  }
  .links{
    margin-top: 30px;
  }
  .links a{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  /* #products{ */
    /* margin-top: 30px; */
  /* } */
  /* GOOGLE REVIEW */
  #google-reviews{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .review-item {
    border: solid 3px #DCB8BA;
    margin: 0 10px;
    padding: 1.25em;
    flex: 1 1 20%;
  }
  .review-author {
    color: #45A9BF;
    font-size: 14px;
  }
  .review-sep{
    color: #45A9BF;
  }
  .review-date {
    font-size: 13px;
  }
  .review-stars ul li i {
    color: #FCD116;
  }
  .review-text{
    margin-top: 10px;
    font-size: 13px;
    /* height: 160px; */
    /* overflow-wrap: break-word; */
    /* overflow-y: scroll; */
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover{
    color: #dcb8ba;
  }
  
  .ads-section{
    margin-top: 15px; padding: 15px;
  }
  /* END GOOGLE REVIEW */
  .banner h3{
    height: 110px;
    background-image: url('../img/banner-bg.png');
    background-size: cover;
    border-radius: 0px 40px;
    line-height: 110px;
    padding-left: 60px;
  }
  .img-cont1>img {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    border: 6px solid #CBEDED;
    border-radius: 35px 0px;
    max-height: 500px;
  }
  .thumbnail3 {
    width: 80px;
    /* border-radius: 15px; */
    height: 80px;
    object-fit: cover;
    box-shadow: none;
  }
  .xactive{
    border: 2px solid #DCB8BA;
  }
  .prod-desc p.product-name{
    width: 80%;
    margin: auto;
    font-size: 40px;
    color: #DCB8BA;
  }
  .prod-desc p.product-desc{
    width: 660px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  a.btn.order-button {
    width: 220px;
    border: 3px solid #DCB8BA;
    border-radius: 30px;
  }
  a.btn.order-button:hover {
    width: 220px;
    background-color: #DCB8BA;
    color: #fff;
    border-radius: 30px;
  }
  .xzoom-source{
    /* border: 6px solid #CBEDED; */
    margin: 6px;
    border-radius: 35px 0px;
  }
  
  .form-control:focus {
    border-color: #dcb8ba;
    box-shadow: none;
  }
  small{
    display: block;
  }
  
  .order-form h5{
    color: #DCB8BA;
  }
  input{
    border-radius: 0px;
  }
  .order-image-cont{
    margin: auto;
    margin-top: 40px;
    width: 400px;
    text-align: center;
  }
  .hide{
    display: none;
  }
  .side-container hr{
    border-top: 1px solid rgba(88, 88, 88, 0.52);
  }
  /* FORM CSS */
  .custom-file-upload {
    border: 1px solid #ced4da;
    background-image: unset!important;
    border-radius: 8px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .template-img img {
    width: 100%;
    background-image: url(../../assets/img/images-regular.svg);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    min-height: 100px;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  #select-front-prod [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #select-front-prod [type=radio]:checked + img {
    outline: 4px solid #5897fb;
  }
  
  .select-front img {
    width: 100%;
  }
  #select-front-prod {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 5px;
  }
  #select-front-prod div {
    margin-bottom: 5px;
  }
  
  #select-front-prod div {
    margin-bottom: 5px;
  }
  
  #select-back-prod [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #select-back-prod [type=radio]:checked + img {
    outline: 4px solid #5897fb;
  }
  
  .select-back img {
    width: 100%;
  }
  #select-back-prod {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 5px;
  }
  #select-back-prod div {
    margin-bottom: 5px;
  }
  
  #select-back-prod div {
    margin-bottom: 5px;
  }
  #save-front-image{
      background-color: #dcb8ba !important;
      font-size: 16px !important;
      border: none;
  }
  #save-back-image{
      background-color: #dcb8ba !important;
      font-size: 16px !important;
      border: none;
  }
  .modal-prod{
    height: 540px;
  }
  input[type="file"] {
    display: none;
  }
  form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  .btn-order-form {
    border: 2px solid #DCB8BA;
    border-radius: 30px;
    padding: 0.375rem 0.75rem;
  }
  .btn-order-form:hover {
    background-color: #DCB8BA;
    color: #fff;
    border-radius: 30px;
  }
  .cancel-order{
    border: 2px solid #d8d8d8 !important;
    background-color: #fff !important;
  }
  .cancel-order:hover{
    color: #000;
    border: 2px solid #DCB8BA !important;
    background-color: #d8d8d8 !important;
  }
  form h4{
    margin-top: 3rem;
  }
  .choosefront-btn, .choosefront-btn:hover {
    background-color: #dcb8ba !important;
    font-size: 10px !important;
    width: 100px !important;
    padding: 2px;
    color: #fff !important;
  }
  
  .chooseback-btn, .chooseback-btn:hover {
    background-color: #dcb8ba !important;
    font-size: 10px !important;
    width: 100px !important;
    padding: 2px;
    color: #fff !important;
  }
  .order-ad>span {
    margin-top: 10px;
    font-size: 18px;
    display: block;
  }
  .order-ad>span.title {
    font-size: 28px;
    font-weight: 800;
  }
  .order-ad>span.contact {
    margin-top: 25px;
    font-size: 22px;
  }
  .order-ad>span.email {
    font-size: 16px;
    margin-top: 0px;
  }
  .explore-btn{
    font-size: 20px;
  }
  /* .footer {
    margin: 20px;
    margin-top: 70px;
  } */
  .carousel-btn{
    position: absolute;
    z-index: 10;
    font-size: 24px;
    bottom: 18%;
    text-align: right;
    right: 7%;
    color: #000;
  }
  .ad-btn{
    position: absolute;
    z-index: 10;
    font-size: 16px;
    bottom: 18%;
    text-align: right;
    right: 18%;
    color: #000; 
  }
  .btn-bg-pink{
    background-color: #dcb8ba;
  }
  .ribbon-wrapper {
    position: absolute;
    right: 25px;
    background-color: #c7c7c79e;
    border: 1px solid #cbeded;
    top: -3px;
    height: 40px;
    width: 37px;
  }
  .ribbon {
    color: #fff;
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
  }
  .img-cont.loader.linear-background{
    height: 230px;
  }
  
  @keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }
  .linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
  }
  .suggestions-section hr{
    border-top: 1px solid rgb(168, 168, 168);
  }
  .suggestion-img-cont img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border: 1px solid #CBEDED;
    border-radius: 21px 0px;
  }
  .pageText span{
    font-size: 30px;
    cursor: pointer;
  }
  .pageText span:hover {
    color: #6f42c1;
  }
  .navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  /* FORM CSS */
  
  .video-cont{
      margin: 30px auto;
      max-width: 80%;
  }
  .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
  }
  .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    .pageSection{
      margin: 0px 0px 0px 0px;
    }
    .modal-prod {
      max-height: calc(100vh - 300px);
      overflow-y: auto;
    }
    ul.nav{
      margin: auto;
    }
    a.navbar-brand {
      font-size: 30px;
      margin: auto;
      text-align: center;
      width: 100%;
    }
    .col.ads {
      padding: 4px;
    }
    .product-section{
      margin: auto;
      max-width: 330px;
    }
    .product-collection {
      padding: 5px;
      padding-bottom: 15px;
    }
    .img-cont img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border: 3px solid #bda4bb;
      border-radius: 21px 0px;
    }
    .suggestion-img-cont img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border: 1px solid #CBEDED;
      border-radius: 21px 0px;
    }
    .btn.btn-sm.order-btn {
      margin-left: 0px;
      margin-top: 3px;
    }
    .border-radius-right {
      border-radius: 0px 20px;
      overflow: hidden;
    }
    .ads-section{
      margin-top: 0; padding: 15px;
    }
    .img-cont p {
      font-size: 0.9rem;
    }
    .banner h3 {
      font-size: 1.3rem;
    }
    .categories-mobile ul {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      margin-top: 20px;
      word-break: break-all;
      list-style: none;
      font-size: 13px;
      padding-left: 5px;
    }
    .categories-mobile ul>li {
      margin-bottom: 8px;
    }
   
    .footer-container p {
      font-size: 13px;
    }
    .prod-desc p.product-name {
      font-size: 30px;
    }
    .footer-content {
      margin-top: 20px;
    }
    .products-btn a {
      font-size: 10px;
      width: 100%;
    }
    .links a {
      font-size: 15px;
    }
    .contact {
      margin-top: 15px;
    }
    .order-ad>span.email {
      font-size: 11px;
    }
    .contact .contact-details {
      white-space: normal;
      font-size: 14px;
      line-height: 25px;
    }
    .contact .contact-details i {
      display: none;
    }
    .social i {
      width: 40px;
      height: 40px;
      font-size: 25px;
      line-height: 40px;
    }
    .footer{
      text-align: center;
    }
    .carousel-btn {
      font-size: 14px;
    }
    .ad-btn{
      font-size: 11px;
    }
    .template-img{
      font-size: 13px;
    }
    .ribbon-wrapper {
      right: 10px;
      top: 1px;
      height: 34px;
      width: 33px;
    }
    .ribbon{
      font-size: 11px;
    }
    .img-cont.loader.linear-background{
      height: 130px;
    }
  }
  
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .categories-mobile ul {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      margin-top: 20px;
      word-break: break-all;
      list-style: none;
      font-size: 13px;
      padding-left: 5px;
    }
    .categories-mobile ul>li {
      margin-bottom: 8px;
    }
    .footer-content {
      margin-top: 20px;
    }
    .carousel-btn {
      font-size: 18px;
    }
    .ad-btn{
      font-size: 13px;
    }
    .banner h3 {
      font-size: 1.4rem;
    }
    a.navbar-brand {
      font-size: 30px;
      margin: auto;
      text-align: center;
      width: 100%;
    }
    ul.nav{
      margin: auto;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .products-btn a {
      border-radius: 30px;
      border: 1px solid #6D6D6D;
      /* height: 37px; */
      font-size: 10px;
    }
    .contact {
      margin-top: 15px;
    }
    .footer-content {
      margin-top: 20px;
    }
    .carousel-btn {
      font-size: 18px;
    }
    .ad-btn{
      font-size: 13px;
    }
    a.navbar-brand {
      font-size: 30px;
      margin: auto;
      text-align: center;
      width: 100%;
    }
    ul.nav{
      margin: auto;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 1199.98px){
    #google-reviews {
      display: block;
      flex-wrap: unset;
    }
    .review-item {
      margin: 0 10px 10px;
    }
    .ads-section-2 .order-ad {
      width: 85%;
    }
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
  
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
  
  }